.contact{
    background-color: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: center;

    .wrapper{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input{
            padding: 10px;
            border: none;
            border-radius: 5px 0 0 5px;
        }

        button{
            padding: 10px;
            color: white;
            background-color: #333;
            border-radius: 0 5px 5px 0;
            border: none;
        }

        .icons{
            display: flex;
            gap: 10px;
        }
    }

    @media (min-width: 768px) {
        /* Cambiar el estilo cuando el ancho de la pantalla sea igual o mayor a 768px */
        .contact .wrapper {
            flex-direction: row; /* Vuelve a la dirección de flex a fila para dispositivos más grandes */
            justify-content: space-between;
            text-align: left; /* Alinea el texto a la izquierda en dispositivos más grandes */
    
            input {
                margin-bottom: 0; /* Elimina el espacio entre los elementos en dispositivos más grandes */
                width: calc(70% - 10px); /* Ajusta el ancho de entrada y el espacio entre ellos */
            }
    
            button {
                width: 30%; /* Ajusta el ancho del botón en dispositivos más grandes */
            }
        }
    }
}