/* ZonasDestacadas.module.scss */

.zonasDestacadas {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px;
  }

  h1{
    font-size: 60px;
  }
  
  .top {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .bottom {
    display: flex;
    justify-content: center;
  }
  
  .image {
    margin: 10px;
  }
  
  .mainImg {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  @media (max-width: 768px) {
    /* Cambiar el estilo cuando el ancho de la pantalla sea igual o menor a 768px */
    .bottom {
        flex-direction: column; /* Cambia la dirección de flex a columna */
        align-items: center; /* Centra los elementos verticalmente */
        gap: 10px; /* Reduce el espacio entre elementos */
    }

    .top {
        flex-direction: column; /* Cambia la dirección de flex a columna */
        align-items: center; /* Centra los elementos verticalmente */
    }

    .top h1 {
        font-size: 40px; /* Reduce el tamaño de fuente del encabezado */
        margin-bottom: 10px; /* Añade margen inferior para separar los elementos en columna */
    }

    .top p {
        font-size: 25px; /* Reduce el tamaño de fuente del párrafo */
    }
}